/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  background-color:#5AA5CF;
  border-radius: 0 0 30px 0;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.logeado-fracaso{
    color: red;
    font-size: 10px;
}

.logeado-exito{
    color: green;
    font-size: 10px;
}

.distancia{
    margin-right: 20px;
}

.abajo{
  padding-bottom: 40px;
}

.signup{
  margin-top: 120px;
  max-width: 600px;
  height: 380px;
  background-color:#5AA5CF;
  padding: 20px;
  border-radius: 0 0 30px 0;
}

.signupVehicle{
  margin-top: 220px;
  max-width: 600px;
  height: 500px;
  border: 1px solid blue;
  background: blue;
  background-color: #EAEAEA;
  padding: 20px;
}

.derecha{
  text-align: right;
}