<div id="slogan">
    <h1>El <strong>mejor</strong> servicio de reparación y mantenimiento de <strong>pichirilos</strong> , al alcance
        de la <strong>mano</strong> </h1>
    <img src="../../../assets/images/carros.png" alt="carritos">
</div>
<div id="cara">
    <section class="card" id="c1">
        <h2>Información actualizada en tus manos</h2>
        <img src="../../../assets/images/smartphone.png" alt="" width="100">
    </section>
    <section class="card" id="c2">
        <h2>Los mejores repuestos para tu pichirilo</h2>
        <img src="../../../assets/images/neumatico.png" alt="" width="100">
    </section>
    <section class="card" id="c3">
        <h2>El personal mas calificado </h2>
        <img src="../../../assets/images/caja-de-herramientas.png" alt="" width="100">
    </section>
    <section class="card" id="c4">
        <h2>Atención respetuosa y amable con los usuarios</h2>
        <img src="../../../assets/images/mujer.png" alt="" width="100">
    </section>
</div>